@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Ropa+Sans&display=swap');

.comics-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    background-color: transparent;
    align-items: center;
}
.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    color: #ffffff;
    font-family: 'Luckiest Guy';
    font-size: 700%;
    text-align: center;
    -webkit-text-stroke: 1px black;
    margin: 15px;
    margin-top: 50px;
}

.comic-title {
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 0%;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 50px;
    background-color: transparent;
}
.comic-image {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 400px;
    height: 400px;
    margin-left: 35%;
    
    
}

.comic-button {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.comic-button {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 55%;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #ffffff;
    font-family: 'Luckiest Guy';           
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.459);
    -webkit-text-stroke: 1.5px black;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
 }

 .comic-button:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(0, 0, 0);
   -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.705);
   text-decoration: none;
 }